*{
  font-family: Arial;
}

body{
  margin: 0;
  background-color: black;
}

.header, .content{
  padding: 16px;
}
.header{
  background-color: #1D262C;
  color: #999;
  border-bottom: 5px solid gray;
}

.logo{
  background-color: #999;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: relative;
  float: left;
}

.logo-inside{
  background-color: black;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  position: absolute;
  top: 17%;
  left: 17%;
  display: block;
}

.header h1:first-letter{
  color: black;
}

h2{
  font-variant:small-caps;
}

.content{
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 548px;
  color: white;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li{
  display: inline;
  color: white;
}

li:not(:last-child):after{
  content: " | "
}

footer{
  color: white;
}
